.lesson__offset{
    margin-bottom: 64px;
}
.lesson__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 1320px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.lesson__item {
    padding: 40px 35px;
    border-radius: 12px;
    border: 2px solid #000; 
}
.lesson__title {
    margin-bottom: 24px;
}
.lesson__datetime-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 32px;
}
.lesson__circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: black;
}
.lesson__descr {
    max-width: 1133px;
    margin-bottom: 40px;
}

