.selfEducation__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.selfEducation__title {
    margin-bottom: 18px;

    font-family: Play;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase; 
    text-align: center;
    color: var(--black, #101820);
}
.selfEducation__descr {
    max-width: 1320px;
    margin-bottom: 40px;
}
.course__list {
    max-width: 1320px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0 auto;

}
.course__item {
    display: flex;
    justify-content: space-between;
    padding: 32px;
    border-radius: 18px;
    border: 4px solid #000; 
}
.course__title {
    margin-bottom: 24px;
}
.course__descr {
    max-width: 837px;
    margin-bottom: 40px;
}
